/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #8f6a4b;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 70px;
  background: #fff;
  z-index: 997;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #bb8b63;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}



.label-font{
font-family: monospace;
    color: darkgrey;
}

.specialcharacter-required {
  color: red;
  font-size: larger;
  margin-top: -4px;
}
.required {
  border-left: 3px solid #bb8b63 !important;
}

.date-align{
  text-align: center;
}  
.value-alignment{
  -webkit-writing-mode: vertical-rl;
}